/* CSS Document for Screens */

@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,300italic,700,700italic);

body {
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	font-weight: 300;
	color: #555;
	margin: 0;
	padding: 0;
}

#page {
	max-width: 1200px;
	margin: 0 auto;
	position: relative;
}

h1 {
	margin: 0 0 1em 0;
	font-size: 2.8em;
	font-weight: 700;
}

h2 {
	margin: 0 0 .5em 0;
	font-size: 1.6em;
	font-weight: 700;
	line-height: 1.1em;
}

h3 {
	margin: 0 0 .5em 0;
	font-size: 1.3em;
	font-weight: 700;
}

h4 {
	margin: 0 0 1.5em 0;
	font-size: 1em;
	font-weight: 700;
}

p {
	margin: 0 0 1em 0;
}

a {
	color: #007eff;
}

a:visited {
	color: #65b1ff;
}

/* my logo content is not showping up in the middle to the left this is not working quietly*/

header {
	height: 875px;
	background: black url(../images/84-Chicago-from-the-John-Hancock-Building.jpg) no-repeat center bottom;
	position: relative;
} 

header div.banner {
	float: left;
	padding-top: 400px;
	margin-left: 25px;
}

header div.banner h1 {
	line-height: 1em;
	margin: 0 0 30px 0;
	color: #fff;
	border-bottom: 2px solid #FF0000;
	padding-bottom: 20px;
}

header div.banner h2 {
	line-height: 1em;
	font-size: 1em;
	margin: 0 0 30px 0;
	color: #fff;
}

/*top nav*/
nav {
	background-color: rgba(0,0,0,.65);
	position: fixed;
	top: 0px; left: 0px;
	padding: 50px 0 0 0;
	width: 100%;
	z-index: 1;
}
	
nav:after {
	content: '';
	display: block;
	clear: both;
}	

nav ul {
	list-style: none;
	margin: 0;
	padding: 0px;
}

nav ul li a {
	display: inline-block; 
	color: #fff;
	padding: 10px 20px; 
	text-decoration: none;
	width: 125px;
	position: relative; 
	
}

nav ul a:hover {
	text-decoration: underline;
	color: #f00;
}

nav > ul {
	padding-left: 400px;
}

nav > ul > li {
	float: left;
}

/*right nav*/ 
header div.rightnav {
	float: right;
	padding-top: 250px;
	padding-right: 20px;
	line-height: 1em;
	margin: 0 0 30px 0;
	color: #fff;
}

.rightnav a {
	display: block;
}

section {
	padding: 0 30px;
}

section.main {
	margin-top: 20px;
	margin-bottom: 30px;
	padding: 0;
	/*-webkit-columns: 300px 3;*/
	/*-moz-columns: 300px 3;*/
 /*   columns: 300px 3;*/
}

.main article {
	float: left;
	width: 33%;
}

.main .row {
	clear: both;
}

section.main article h3 a {
	color: #000;
	text-decoration: none;
}

section.main article h3 a:hover {
	text-decoration: underline;
}

section.main2 article h3 a {
	color: #000;
	text-decoration: none;
}

section.main2 article h3 a:hover {
	text-decoration: underline;
}

/* do I need this below
section.main article .content.column1 { background-image: url (../images/icon_star.svg); }
section.main article .content.column2 { background-image: url (../images/icon_marker.svg); }
section.main article .content.column3 { background-image: url (../images/icon_gear.svg); }
*/

#chicago {
	color: #F00;

}

#active { 
	border-right: 2px solid #FF0000;
}

@media screen and (max-width: 625px) {
	.main article {
		float: none;
		width: 100%;
	}
}